thead th,
table td:not(:first-child) {
    text-align: center;
}

td.weekend,
td.public-holiday {
    background-color: #c6c8ca !important;
}

.area-heading td,
.area-heading th {
    background-color: #c6c8ca !important;
}

.table td,
.table th {
    padding: 4px;
}

.user-inputs {
    display: none;
}

.entry-mode .user-inputs {
    display: block;
}

@media print {
    @page {
        size: landscape;
    }
}